/* ----------------------------------- */
/* 		Shortcut for Extends */
/* ----------------------------------- */
.slides-container {
  padding-top: 18.54141px;
  padding-bottom: 18.54141px; }
  .slides-container .slide {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #f2f2f2;
    margin-top: 18.54141px;
    padding: 18.54141px;
    height: 100px;
    cursor: move; }
    .slides-container .slide:after {
      content: "";
      display: table;
      clear: both; }
    .slides-container .slide.deleting {
      -webkit-transition: opacity 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      -moz-transition: opacity 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition: opacity 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      opacity: 0; }
  .block-settings .slides-container .slide-details {
    float: right;
    width: 30%;
    position: relative;
    top: 50%;
    margin-top: -14px; }
  .block-settings .slides-container .no-image .slide-details {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  .slides-container .slide-thumbnail {
    max-height: 100px;
    width: auto;
    float: left; }

#blocks-to-edit .block.block-section {
  background-color: whitesmoke;
  border-style: solid;
  border-radius: 1px;
  margin-bottom: 18.54141px; }
#blocks-to-edit .tiny-preview {
  width: auto;
  max-height: 40px;
  cursor: pointer; }
#blocks-to-edit .reference-image img {
  display: block;
  max-width: 100%;
  margin: 0 auto; }
#blocks-to-edit .block-options {
  border: 1px solid #e3e3e3;
  background-color: #f0f0f0;
  position: relative;
  padding: 18.54141px;
  margin: 0;
  min-height: 30px; }
  #blocks-to-edit .block-options:after {
    content: "";
    display: table;
    clear: both; }
  #blocks-to-edit .block-options.collapsed {
    opacity: 0.2;
    -webkit-transition: opacity 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -moz-transition: opacity 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: opacity 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53); }
    #blocks-to-edit .block-options.collapsed:hover {
      opacity: 1; }
  #blocks-to-edit .block-options .column {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 45%;
    padding-left: 5%;
    float: left;
    padding-left: 30px; }
    #blocks-to-edit .block-options .column.right {
      border-left: 1px solid #e3e3e3; }
#blocks-to-edit .controls {
  position: absolute;
  top: 9.2707px;
  right: 9.2707px;
  width: 100px; }
  #blocks-to-edit .controls a {
    float: right;
    margin-right: 9.2707px;
    border-radius: 3px;
    text-decoration: none;
    color: #fcfcfc;
    background-color: #0d0d0d;
    display: inline-block;
    width: 28px;
    height: 28px;
    -webkit-transition: background-color 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: background-color 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: background-color 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: opacity 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    #blocks-to-edit .controls a:hover {
      text-decoration: none; }
  #blocks-to-edit .controls .options {
    overflow: hidden;
    background: url("../assets/images/admin/settings.png") no-repeat center center;
    color: #fcfcfc;
    background-color: #009bdd;
    opacity: 0.75; }
    #blocks-to-edit .controls .options:before {
      content: "";
      display: block;
      width: 0;
      height: 100%; }
    #blocks-to-edit .controls .options:hover {
      opacity: 1;
      background-color: #0089c4; }
  #blocks-to-edit .controls .delete {
    overflow: hidden;
    background: url("../assets/images/admin/trash.png") no-repeat center center;
    background-color: #de0405;
    opacity: 0.75; }
    #blocks-to-edit .controls .delete:before {
      content: "";
      display: block;
      width: 0;
      height: 100%; }
    #blocks-to-edit .controls .delete:hover {
      opacity: 1;
      text-decoration: none; }

.section__title {
  font-weight: bolder;
  font-size: 1.25rem;
  line-height: 40px; }
  .is-open .section__title {
    border-bottom-color: #e3e3e3;
    border-bottom-width: 1px;
    border-bottom-style: solid; }

ul#blocks-archive .block-title {
  font-weight: normal;
  font-size: 11px; }
ul#blocks-archive .ui-draggable.block {
  width: 118px; }

/* Columns */
#blocks-to-edit .block-village_block_container {
  padding: 4px;
  background: #FCFCFC;
  margin: 8px -5px -5px 15px;
  border: 1px dotted #E3E3E3;
  max-width: 734px; }

#blocks-to-edit .block-village_block_container ul.blocks {
  min-height: 50px;
  padding: 0;
  margin: 0 0 0 -20px;
  width: 110%; }

/*#blocks-to-edit .empty-column { 
	margin: 0;
	padding: 8px 10px 0;
	color: #888;
}*/
.redux-group-tab .form-table-section-indented {
  width: 95%;
  margin-left: 5%; }

.redux-group-tab .form-table-section tr:first-of-type th:first-of-type {
  padding: 0px; }

.redux-group-tab .form-table-section tr:first-of-type td:first-of-type {
  padding: 0px !important; }

.redux-section-desc + .form-table-subsection {
  width: 95%;
  margin-left: 5%; }

/*# sourceMappingURL=admin.css.map */
